@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@import url("./global.css");

:root {
  /* Used for Main elements / CTA / Icons / Emphasized texts / Headings */
  --ejada-primary: #001081;
  --ejada-secondary: #c5cfda;
  --ejada-accent: #1fed93;
  --light-blue: #8ae2fe;

  /* Used for Cards/ Containers / outlined buttons hover*/
  --ejada-primary-bg: #f2f4ff;
  --ejada-secondary-bg: #f3f5f8;
  --ejada-accent-bg: #e9fdf4;

  /* Used for Cards / Containers */
  --ejada-primary-light: #525dc1;

  /* Used for CTA hover */
  --ejada-primary-dark: #000c5e;
  --ejada-secondary-dark: #42566b;
  --ejada-accent-dark: #10774a;

  /* Objects hover */
  --ejada-primary-hover: #d4d6f0;
  --ejada-secondary-hover: #d6dde5;
  --ejada-accent-hover: #b8f7d2;

  /* --- Text Related --- */
  --text-primary: #0000ff;
  --text-primary-bg: #f7f9ff;
  --text-primary-light: #4477ff;
  --text-primary-dark: #001081;
  --text-natural-gray: #616161;
  --text-natural-light-gray: #a3a3a8;
  --text-natural-slate: #1f2940;

  /* Variant Background */
  --variant-bg: #f9f9f9;
  --variant-bg-certificate: #bdc7d6;
  --variant-bg-certificate-badge: #1f2940;

  /* Disabled */
  --disabled: #f1f1f5;

  /* --- Headings --- */
  --heading-4xl: 6.375rem; /* 102px / 16 = 6.375rem */
  --heading-3xl: 4rem; /* 64px / 16 = 4rem */
  --heading-2xl: 3rem; /* 48px / 16 = 3rem */
  --heading-xl: 2.5rem; /* 40px / 16 = 2.5rem */
  --heading-lg: 2rem; /* 32px / 16 = 2rem */
  --heading-md: 1.5rem; /* 24px / 16 = 1.5rem */

  /* --- Body --- */
  --body-lg: 1.5rem; /* 24px */
  --body-md: 1rem; /* 16px */
  --body-sm: 0.875rem; /* 14px */

  /* --- Weight --- */
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --thin: 300;

  /* Radiuses */
  --rounded: 4px;
  --rounded-lg: 8px;
  --rounded-full: 100px;
  /* --- Gradients --- */
  --primary-gradient: linear-gradient(45deg, #000c5e 50%, #0000ff 100%);
  --primary-gradient-reverse: linear-gradient(180deg, #0000ff 0%, #000c5e 100%);
  --secondary-gradient: linear-gradient(90deg, #5c2684 0%, #05133f 100%);
  --variant-gradient: linear-gradient(0deg, #dde1e6 0%, #dde1e6 100%);

  /* --- Shadows --- */
  --shadow: 0px 1px 1px 0px rgba(64, 64, 66, 0.08),
    0px 3px 10px 2px rgba(64, 64, 66, 0.06);

  /* Borders */
  --border-neutral: #a3a3a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  padding: 30px 0;
}

ul{
  list-style: none;
}

/* General Styles */
.text-4xl {
  font-size: var(--heading-4xl);
}

.text-3xl {
  font-size: var(--heading-3xl);
}

.text-2xl {
  font-size: var(--heading-2xl);
}

.text-xl {
  font-size: var(--heading-xl);
}

.text-lg {
  font-size: var(--heading-lg);
}

.text-md {
  font-size: var(--heading-md);
}

.text-sm {
  font-size: var(--body-md);
}

.text-xs {
  font-size: var(--body-sm);
}

.text-white {
  color: white;
}

.text-slate {
  color: var(--text-natural-slate);
}

.text-primary {
  color: var(--text-primary);
}

.text-primary-dark {
  color: var(--text-primary-dark);
}

.text-accent {
  color: var(--ejada-accent);
}

.text-gray {
  color: var(--text-natural-gray);
}

.text-light {
  color: rgba(255, 255, 255, 0.5);
}

.text-lightblue {
  color: var(--light-blue);
}

.bg-lightblue {
  background: var(--light-blue);
}

.border-lightblue {
  border-color: var(--light-blue);
}

.shadow {
  box-shadow: var(--shadow);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.decoration-none {
  text-decoration: none;
}

.variant-bg {
  background: var(--variant-bg);
}

.gradient-primary {
  background: var(--primary-gradient);
}

.gradient-primary-0 {
  background: var(--primary-gradient-reverse);
}

.gradient-secondary {
  background: var(--secondary-gradient);
}

.gradient-variant {
  background: var(--variant-gradient);
}

.search-component {
  min-width: 460px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
}

.search-component img {
  width: 20px;
  height: 20px;
}

.search-component input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.search-component input::placeholder {
  color: var(--text-natural-gray);
  font-size: var(--body-sm);
}

.filled-btn,
.outlined-btn {
  cursor: pointer;
  padding: 10px 20px;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  outline: none;
  gap: 1rem;
}

.filled-btn {
  background: var(--ejada-primary);
  color: white;
  border: none;
}

.filled-btn:hover {
  background: var(--ejada-primary-dark);
}

.outlined-btn {
  border: 2px solid var(--ejada-primary);
  color: var(--ejada-primary);
  background: transparent;
}

.outlined-btn:hover {
  background: var(--ejada-primary);
  color: white;
}

.outlined-btn.white {
  border-color: white;
  color: white;
}

.outlined-btn.white:hover {
  background: white;
  color: var(--ejada-primary);
}

.outlined-btn.accent {
  border-color: var(--ejada-accent);
  color: white;
}

.outlined-btn.accent:hover {
  background: var(--ejada-accent);
  color: white;
}

.circle-xs {
  width: 20px;
  height: 20px;
}

.bg-accent {
  background: var(--ejada-accent);
}

.bg-primary {
  background: var(--ejada-primary);
}

.bg-light {
  background: rgba(232, 244, 237, 0.2);
}

.image-container {
  flex: 1; /* Allow the container to grow and shrink */
  max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: hidden; /* Ensure any overflow is hidden */
  display: flex; /* Enable flexbox within the container */
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
}

.image-container img {
  width: 100%; /* Make the image width 100% of its container */
  height: 100%; /* Make the image height 100% of its container */
  object-fit: contain; /* Ensure the image covers the container, cropping if necessary */
  display: block; /* Remove default inline spacing */
}

.quote {
  border-left: 5px solid var(--ejada-accent);
  padding-left: 16px;
}

/* Add more ml- classes as needed */

/* ---- End Of General Styles ---- */

/* ------ Start Of Waffle Button Style ------ */
.waffle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 5px;
  cursor: pointer;
  transition: all 200ms ease;
}

.waffle:hover {
  background: var(--ejada-secondary-hover);
}

.waffle .sub-waffle {
  display: flex;
  gap: 5px;
}

.waffle .sub-waffle span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
}

/* ------ End Of Waffle Button Style ------ */

/* ------ Start Of Header ------ */
header {
  width: 100%;
}

.sharepoint {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--ejada-primary);
}

.sharepoint .component {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sharepoint .component.justify-center {
  justify-content: center;
}

.sharepoint .component.justify-start {
  justify-content: flex-start;
}

.sharepoint .component.justify-end {
  justify-content: flex-end;
}

.sharepoint .component .sub-component {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 32px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav-list .nav-item {
  cursor: pointer;
  position: relative;
}

/* For later use */

.nav-list .nav-item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--ejada-primary);
  transition: all 200ms ease;
}

.nav-list .nav-item.active::after {
  width: 100%;
}

.nav-list .nav-link {
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-natural-light-gray);
  transition: all 200ms ease-in-out;
}

.nav-list .nav-item.active .nav-link,
.nav-list .nav-link:hover {
  color: var(--text-primary-dark);
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 120px 95px;
  gap: 10rem;
}

.hero {
  flex: 1;
}

/* .hero img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

/* ------ End Of Header ------ */

/* ------ Start Of Partners ------ */
.partners-container {
  width: 100%;
  background: var(--variant-bg);
  padding: 128px 140px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 64px;
  position: relative;
}

.partners-container .header {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.partners-container .header p {
  max-width: 500px;
}

/* Fixed Button */
.partners-container .filled-btn {
  margin-left: 400px;
}

.partners-container .header .search-component {
  margin-top: 40px;
  border: 1px solid var(--border-neutral);
  border-radius: var(--rounded-lg);
  padding: 12px 20px;
}

.partners-body {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.partners-categories {
  flex: 2;
  background: white;
  min-height: 700px;
  border-radius: var(--rounded-lg);
  padding: 24px 32px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.partners-categories .list {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  gap: 1rem;
}

.partners-categories .list .list-item {
  cursor: pointer;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 200ms ease;
}

.partners-categories .list .list-item.active .inactive-rounded {
  display: none;
}

.partners-categories .list .list-item .active-rounded {
  display: none;
}

.partners-categories .list .list-item.active .active-rounded {
  display: block;
}

.partners-categories .list .list-item.active {
  background: var(--ejada-primary-bg);
  color: var(--text-primary);
  padding-left: 25px;
}

.partners {
  flex: 7;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.partners .partner {
  flex-basis: 25%;
  flex-grow: 2;
  height: auto;
  display: flex;
  background: white;
  border-radius: var(--rounded-lg);
  padding: 24px 32px;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.partners .partner .content {
  flex: 3;
  display: flex;
  height: 75%;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: space-between;
}

.partners .partner .content a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.partners .partner .image {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}
.partners .partner .image img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ------ End Of Partners ------ */

/* ----- Start Of Paragraph ----- */

.paragraph {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 160px 140px;
  gap: 10rem;
}

.paragraph .left {
  flex: 1;
}

.paragraph .right {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.paragraph .right li {
  color: #666;
}

/* ----- End Of Paragraph ----- */

/* ----- Start Of Certificates ----- */

.certificates-partners {
  padding: 128px 96px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

.certificates-partners div {
  flex: 1;
  flex-basis: 25%;
}

.certificates-partners .certificate-wrapper {
  display: flex;
  border-radius: var(--rounded-lg);
  flex-flow: row nowrap;
  overflow: hidden;
}

.certificates-partners .certificate-wrapper .certificate {
  min-height: 100%;
  min-width: 100%;
  background: var(--variant-bg-certificate);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 32px;
  aspect-ratio: 16 / 9;
}

.certificates-partners .certificate-wrapper .certificate .content {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1rem;
}

.certificates-partners
  .certificate-wrapper
  .certificate
  .content
  .certificate-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  gap: 1rem;
}

.certificates-partners .certificate-wrapper .certificate:not(.badge) img {
  max-width: 15%;
  object-fit: contain;
}

.certificates-partners .certificate-wrapper .badge {
  background: var(--variant-bg-certificate-badge);
}

.certificates-partners .certificate-wrapper::-webkit-scrollbar {
  display: none;
}

.card-component {
  padding: 50px 160px;
  width: 1200px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 40px;
  z-index: 1;
}

.card-component p {
  width: 70%;
}

.card-component img {
  position: absolute;
  top: -10%;
  left: -7%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

/* ----- End Of Certificates ----- */

/* ----- Start Of Footer ----- */
footer {
  background: var(--ejada-primary);
  padding: 96px 64px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.brand {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.brand img {
  max-width: 100%;
  height: 40%;
  object-fit: contain;
}

.brand p {
  color: white;
}

.links-container {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.links {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.links ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.links ul li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  :root {
    /* Adjusted font sizes for screens smaller than 1200px */
    --heading-4xl: 5.5rem;
    --heading-3xl: 3.5rem;
    --heading-2xl: 2.75rem;
    --heading-xl: 2.25rem;
    --heading-lg: 1.75rem;
    --heading-md: 1.375rem;

    --body-lg: 1.375rem;
    --body-md: 0.9375rem;
    --body-sm: 0.8125rem;
  }
}

@media (max-width: 992px) {
  :root {
    /* Adjusted font sizes for screens smaller than 992px */
    --heading-4xl: 4.75rem;
    --heading-3xl: 3rem;
    --heading-2xl: 2.5rem;
    --heading-xl: 2rem;
    --heading-lg: 1.5rem;
    --heading-md: 1.25rem;

    --body-lg: 1.25rem;
    --body-md: 0.875rem;
    --body-sm: 0.75rem;
  }
}

@media (max-width: 768px) {
  :root {
    /* Adjusted font sizes for screens smaller than 768px */
    --heading-4xl: 4rem;
    --heading-3xl: 2.5rem;
    --heading-2xl: 2rem;
    --heading-xl: 1.75rem;
    --heading-lg: 1.375rem;
    --heading-md: 1.125rem;

    --body-lg: 1.125rem;
    --body-md: 0.8125rem;
    --body-sm: 0.6875rem;
  }
}

@media (max-width: 576px) {
  :root {
    /* Adjusted font sizes for screens smaller than 576px */
    --heading-4xl: 3.5rem;
    --heading-3xl: 2.25rem;
    --heading-2xl: 1.75rem;
    --heading-xl: 1.5rem;
    --heading-lg: 1.25rem;
    --heading-md: 1rem;

    --body-lg: 1rem;
    --body-md: 0.75rem;
    --body-sm: 0.625rem;
  }
}

/* Optional: Add some media queries for different screen sizes */
@media (max-width: 1200px) {
  .image-container {
    max-width: 90%;
  }
}

@media (max-width: 992px) {
  .image-container {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .image-container {
    max-width: 70%;
  }
}

@media (max-width: 576px) {
  .image-container {
    max-width: 100%;
  }
}
