<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejada Workspace</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>

  <body>
    <header>
      <div class="sharepoint">
        <!-- Left Controls Component -->
        <div class="component">
          <div class="waffle">
            <div class="sub-waffle">
              <span></span><span></span><span></span>
            </div>
            <div class="sub-waffle">
              <span></span><span></span><span></span>
            </div>
            <div class="sub-waffle">
              <span></span><span></span><span></span>
            </div>
          </div>
          <img src="/assets/logos/logo-white-minimal.svg" alt="minimal logo" />
          <h3 class="text-sm text-white font-semibold">SharePoint</h3>
        </div>
        <!-- Search Component -->
        <div class="component justify-center">
          <div class="search-component p-2 px-3 rounded-md">
            <img src="/assets/icons/search.svg" />
            <input type="text" placeholder="Search this site" />
          </div>
        </div>
        <!-- Right Controls Component -->
        <div class="component justify-end">
          <div class="sub-component">
            <img src="/assets/icons/megaphone.svg" />
          </div>
          <div class="sub-component">
            <img src="/assets/icons/settings.svg" />
          </div>
          <div class="sub-component">
            <img src="/assets/icons/question.svg" />
          </div>
          <div class="sub-component">
            <img src="/assets/images/persona.svg" />
          </div>
        </div>
      </div>
      <nav>
        <div class="logo">
          <img src="/assets/logos/logo-default.svg" />
        </div>
        <ul class="nav-list">
          <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Workspace
              <img src="/assets/icons/arrow.svg" />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Employee Services
              <img src="/assets/icons/arrow.svg" />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Departments
              <img src="/assets/icons/arrow.svg" />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Resources
              <img src="/assets/icons/arrow.svg" />
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              Knowledge
              <img src="/assets/icons/arrow.svg" />
            </a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">News</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
        </ul>
        <div class="greetings">
          <h3 class="text-sm font-normal text-primary-dark">
            Welcome Back!, Mohammed.
          </h3>
        </div>
      </nav>
      <div class="hero-container gradient-primary relative overflow-hidden">
        <div class="hero p-24 flex flex-col gap-12">
          <img
            src="/assets/images/rings-group.png "
            class="absolute left-0 top-0"
            style="left: -8%; top: -15%"
          />
          <div class="">
            <h5 class="text-md text-accent font-medium flex gap-4 items-center">
              <img src="/assets/icons/octicon-law-24.svg" />Legal
              Department
            </h5>
            <h2 class="py-4 text-2xl font-semibold text-white">
              Title Goes Here
            </h2>
            <p class="text-white w-2-3 font-light">
              Aut magni rem quia aliquam molestiae. Impedit consequatur eaque
              facere iure rerum nes ciunt voluptatem et. Delectus eum vitae
              architecto. Dolores nostrum enim et tenetur Aut magni rem quia
              aliquam molestiae. Impedit consequatur eaque facere iure rerum nes
              ciunt voluptatem et. Delectus eum vitae architecto. Dolores
              nostrum enim et tenetur.
            </p>
          </div>
          <button class="outlined-btn w-fit rounded white">
            Documents Management System
          </button>
          <img src="/assets/images/ring.svg" class="absolute right-0 button-0" style="right: -10%; bottom: -25%;">
        </div>
      </div>
    </header>
    <main>
      <div class="flex gap-4 justify-between px-6 py-6">
        <div class="shadow rounded-lg p-12 flex-basis-4 h-fit flex flex-col">
          <div class="flex gap-4 items-center justify-between">
            <h2 class="text-lg font-medium text-primary-dark">
              Forms & Templates
            </h2>
            <div class="search-component p-4 rounded-lg border border-gray-200">
              <input type="text" placeholder="Search this site" />
              <img src="/assets/icons/microphone.svg" />
            </div>
          </div>
          <div class="flex gap-4 pt-6 flex-wrap w-full">
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              COMPLIANCE
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              LEGAL
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              TRAINING
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              PERFORMANCE
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              ONBOARDING
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              PAYROLL
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              PRIVACY
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              JOB DESCRIPTION
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              SOP'S
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              EMPLOYEE HANDBOOK
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              PROJECTS
            </div>
            <div
              class="bg-primary py-6 flex-grow-1 flex-1 flex-basis-1 flex items-center justify-center text-accent rounded-lg"
            >
              MARKETING COLLATERALS
            </div>
          </div>
        </div>
        <div class="shadow rounded-lg px-6 flex-basis-2 py-6">
          <div class="flex items-center justify-between">
            <h1 class="text-lg font-medium text-primary-dark">
              Public Documents
            </h1>
            <span class="text-sm text-primary">See all</span>
          </div>
          <div
            class="flex justify-between gap-4 pt-6 border-b border-b-gray-100 py-4"
          >
            <div class="flex items-center gap-4">
              <div class="flex gap-2 items-center">
                <img src="/assets/icons/add.svg" />
                New
              </div>
              <div class="flex gap-2 items-center">
                <img src="/assets/icons/Upload.svg" />
                Upload
              </div>
              <div class="flex gap-2 items-center">
                <img src="/assets/icons/three-dots.svg" />
              </div>
            </div>
            <div class="flex items-center gap-4">
              <div class="flex gap-2 items-center">
                <img src="/assets/icons/list.svg" />
                All Documents
              </div>
              <div class="flex gap-2 items-center">
                <img src="/assets/icons/ms-info.svg" />
              </div>
            </div>
          </div>
          <div class="py-3 flex flex-col">
            <div class="flex justify-between border-b py-4 border-b-gray-100">
              <div class="flex items-center gap-4">
                <img src="/assets/icons/genericfile.svg" />
                <div class="flex items-center gap-1">
                  Name
                  <img src="/assets/icons/arrow.svg" />
                </div>
              </div>
              <div class="flex items-center gap-4">
                <div class="flex items-center gap-1">
                  Modified
                  <img src="/assets/icons/arrow.svg" />
                </div>
                <div>Modified</div>
              </div>
            </div>
            <div class="flex justify-between border-b border-b-gray-100 py-4">
              <div class="flex items-center gap-4">
                <img src="/assets/icons/pdf.svg" />
                <div class="flex items-center gap-1">Doc name</div>
              </div>
              <div class="flex items-center gap-4">
                <div class="text-xs text-gray">Doc property</div>
                <div class="text-xs text-gray">Doc proper</div>
              </div>
            </div>

            <div class="flex justify-between border-b border-b-gray-100 py-4">
              <div class="flex items-center gap-4">
                <img src="/assets/icons/pptx.svg" />
                <div class="flex items-center gap-1">Doc name</div>
              </div>
              <div class="flex items-center gap-4">
                <div class="text-xs text-gray">Doc property</div>
                <div class="text-xs text-gray">Doc proper</div>
              </div>
            </div>

            <div class="flex justify-between border-b border-b-gray-100 py-4">
              <div class="flex items-center gap-4">
                <img src="/assets/icons/docx.svg" />
                <div class="flex items-center gap-1">Doc name</div>
              </div>
              <div class="flex items-center gap-4">
                <div class="text-xs text-gray">Doc property</div>
                <div class="text-xs text-gray">Doc proper</div>
              </div>
            </div>

            <div class="flex justify-between border-b border-b-gray-100 py-4">
              <div class="flex items-center gap-4">
                <img src="/assets/icons/pptx.svg" />
                <div class="flex items-center gap-1">Doc name</div>
              </div>
              <div class="flex items-center gap-4">
                <div class="text-xs text-gray">Doc property</div>
                <div class="text-xs text-gray">Doc proper</div>
              </div>
            </div>

            <div class="flex justify-between border-b border-b-gray-100 py-4">
              <div class="flex items-center gap-4">
                <img src="/assets/icons/xlsx.svg" />
                <div class="flex items-center gap-1">Doc name</div>
              </div>
              <div class="flex items-center gap-4">
                <div class="text-xs text-gray">Doc property</div>
                <div class="text-xs text-gray">Doc proper</div>
              </div>
            </div>

            <div class="flex justify-between border-b border-b-gray-100 py-4">
              <div class="flex items-center gap-4">
                <img src="/assets/icons/pdf.svg" />
                <div class="flex items-center gap-1">Doc name</div>
              </div>
              <div class="flex items-center gap-4">
                <div class="text-xs text-gray">Doc property</div>
                <div class="text-xs text-gray">Doc proper</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-12 flex flex-col">
        <h1 class="text-primary-dark text-xl font-semibold">
          Events and Announcements
        </h1>
        <div class="flex gap-8 py-full">
          <div class="px-6 py-6 flex flex-col gap-4">
            <h3 class="text-primary text-lg font-medium">Featured Events</h3>
            <p class="text-gray">
              Aut magni rem quia aliquam molestiae. Impedit consequatur eaque
              facere iure rerum nes ciunt voluptatem et. Delectus eum vitae
              architecto. Dolores nostrum enim et tenetur
            </p>
          </div>
          <div class="flex flex-col gap-4 py-6">
            <div class="flex gap-4">
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/event-1.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/event-2.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/event-3.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/event-4.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="flex gap-2 justify-center py-6">
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2 bg-primary border-0"></div>
              </button>
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2"></div>
              </button>
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2"></div>
              </button>
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2"></div>
              </button>
            </div>
          </div>
        </div>
        <div class="flex gap-8">
          <div class="px-6 py-6 flex flex-col gap-4">
            <h3 class="text-primary text-lg font-medium">Top Announcements</h3>
            <p class="text-gray">
              Aut magni rem quia aliquam molestiae. Impedit consequatur eaque
              facere iure rerum nes ciunt voluptatem et. Delectus eum vitae
              architecto. Dolores nostrum enim et tenetur
            </p>
          </div>
          <div class="flex flex-col gap-4 py-6">
            <div class="flex gap-4">
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/announc-1.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/announc-2.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/announc-3.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
              <div class="rounded-lg shadow overflow-hidden">
                <div>
                  <img src="/assets/images/announc-4.png" />
                </div>
                <div class="flex flex-col justify-between p-4 gap-8">
                  <div>
                    <span class="text-xs text-gray">Category</span>
                    <h3 class="text-primary-dark text-sm font-medium">
                      Event Title goes here
                    </h3>
                  </div>
                  <div class="flex flex-col gap-1">
                    <span class="text-xs text-gray"
                      >Tuesday, Jun 5, 12 AM - 1:00 PM</span
                    >
                    <span class="text-xs text-primary">Location</span>
                  </div>
                </div>
                <div class="border-t border-t-gray-100 p-2 px-4">
                  <img src="/assets/icons/Icon.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="flex gap-2 justify-center py-6">
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2 bg-primary border-0"></div>
              </button>
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2"></div>
              </button>
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2"></div>
              </button>
              <button class="rounded-full p-2 border border-primary bg-white">
                <div class="rounded-full p-2"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="brand">
        <img src="/assets/logos/logo-white.svg" alt="Ejada's white logo" />
        <p class="text-sm font-light">
          © Copyright 2024, Ejada Workspace Portal. All rights Reserved.
        </p>
      </div>
      <div class="links-container">
        <div class="links">
          <h3 class="text-md font-medium text-accent">Workspace</h3>
          <ul>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
          </ul>
        </div>
        <div class="links">
          <h3 class="text-md font-medium text-accent">Resources</h3>
          <ul>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
          </ul>
        </div>
        <div class="links">
          <h3 class="text-md font-medium text-accent">Departments</h3>
          <ul>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
            <li>
              <a href="#" class="decoration-none font-light text-sm"
                >Item Title Here</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
